-# ----------------------------------------------------------------------------
-# app/views/pages/home.html.haml
-# ----------------------------------------------------------------------------

%h1 Pages#home
%div#page

= javascript_pack_tag "goodbye_react"
