/******************************************************************************
 * app/assets/stylesheets/_global_styles.scss
 ******************************************************************************/

// import the CSS framework
//** @import "bootstrap";

$state-danger-text:           #FF0000;
$state-danger-bg:             pink;

$primary-brand:               #4D148C;
$secondary-brand:             #FF9100;
$body-bkgrd:                  #FFFFFF;
$hover-bkgrd:                 #F5F5F5;
$border:                      #DDDDDD;

