/******************************************************************************
 * app/assets/transactions.scss
 ******************************************************************************/

@import "global_styles";

.has-error {
  color:                    $state-danger-text;
  border:                   1px solid $state-danger-text;
  background-color:         $state-danger-bg;
}

.error-text {
  color:                    $state-danger-text;
  font-size:                0.90rem;
}
