-# ----------------------------------------------------------------------------
-# app/views/transactions/index.html.haml
-# ----------------------------------------------------------------------------
%div.row
  %div.col-10
    %div#ledger{ data: {transactions: @transactions_json} }
  %div.col-2
  
= javascript_pack_tag "transactions_react"